.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
  }


form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
}



input[name="imie"],
input[name="nazwisko"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-footer {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    margin-top: 10px;
    
}

.link {
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline; 
}

button {
    background-color: white;
    color: black;
    border: 2px solid #000000;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: black;
    color: white;
}

.form-title {
    font-size: 24px; 
    text-align: center; 
    margin-bottom: 20px; 
    color: #000000; 
    font-weight: normal;
  }
  
  
