.home-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

  
  .home-container h1,
  .home-container h2,
  .home-container p {
    margin: 10px 0;
    text-align: center;
  }
  