/* Wrapper główny */
.live-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 70px;
  min-height: 100vh;
  padding: 20px;
  background-color: #f9f9f9;
}

/* Kontener na całe wideo i chat */
.live-page-record-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 90%;
  height: 100%;
}

/* Lewa kolumna: Wideo i opis */
.live-page-left-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.live-page-video-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 490px; /* Stała wysokość kontenera wideo */
  max-width: 1000px;
  background-color: #000;
  border-radius: 8px;
  overflow: hidden;
  line-height: 1;
  min-height: 350px; /* Ustalona minimalna wysokość */
  transition: height 0.3s ease; /* Dodanie animacji na zmianę wysokości, jeśli będzie konieczna */
}

/* Wideo w kontenerze */
.live-page-video-container video {
  width: 100%; /* Szerokość 100% kontenera */
  height: 100%; /* Wysokość dopasowana do kontenera */
  object-fit: contain; /* Dopasowanie proporcji wideo */
  border-radius: 8px;
}

/* Szczegóły transmisji */
.live-page-record-details {

justify-content: space-between;
  background-color: #ffffff;
  padding: 10px; /* Zmniejszenie odstępów */
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex; /* Ustawienie elastycznego układu */
  flex-wrap: nowrap;
  line-height: 1;
  align-items: center; /* Wyśrodkowanie elementów w pionie */
  overflow: hidden; /* Ukrywa nadmiar */
  text-overflow: ellipsis; /* Dodaje "..." w przypadku nadmiaru tekstu */
  gap: 10px; /* Odstępy między elementami */
  font-size: 12px; /* Mniejsza czcionka */
  color: #555; /* Neutralny kolor tekstu */
}

.live-page-chat-column {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  flex: 1; /* Ustalenie, że ta kolumna ma elastyczną wysokość */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Wyśrodkowanie w pionie */
  align-items: center; /* Wyśrodkowanie w poziomie */
  position: relative;
  width: 100%;
  min-width: 300px; /* Minimalna szerokość, aby zapobiec zbyt małemu widokowi na bardzo małych ekranach */
}

/* Przycisk odtwarzania (teraz tylko strzałka) */
.play-button {
  position: absolute; /* Pozycjonowanie absolutne względem kontenera */
  top: 50%; /* Wyrównanie do środka w pionie */
  left: 50%; /* Wyrównanie do środka w poziomie */
  transform: translate(-50%, -50%); /* Dokładne wyśrodkowanie przycisku */
  background-color: transparent; /* Bez tła */
  border: none; /* Brak obramowania */
  cursor: pointer;
  display: flex; /* Flexbox do centrowania ikony */
  justify-content: center; /* Wyśrodkowanie poziome */
  align-items: center; /* Wyśrodkowanie pionowe */
  font-size: 36px; /* Rozmiar ikony */
  transition: transform 0.3s ease; /* Dodajemy efekt powiększenia */
}

/* Efekt najechania na przycisk */
.play-button:hover {
  transform: translate(-50%, -50%) scale(1.2); /* Powiększenie przycisku po najechaniu */
  background-color: transparent; /* Upewnienie się, że nie ma tła */
}

/* Ikona strzałki (z Font Awesome) */
.play-button i {
  color: white; /* Kolor strzałki */
  font-size: 36px; /* Rozmiar strzałki */
}
video::-webkit-media-controls-timeline {
  display: none;
}

/* Przyciski odtwarzania */
.live-page-video-container video {
  width: 100%;
  height: auto; /* Zmienia się wysokość w zależności od szerokości kontenera */
  object-fit: contain; /* Zachowanie proporcji */
  border-radius: 2px;
}

.live-page-record-details span {
  display: flex;
  align-items: center;
}

.live-page-record-details p {
  font-size: 12px;
  margin: 0; /* Usuń odstępy */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.live-page-record-title {
  font-size: 24px; /* Duża czcionka dla tytułu */
  font-weight: bold;
  margin-top: 0px; /* Minimalny odstęp od wideo */
  margin-bottom: 0px; /* Minimalny odstęp od szczegółów */
  line-height: 1;
  color: #333;
  text-align: left;
}

/* Opis i data transmisji */
.live-page-record-details p {
  font-size: 18px;
  color: #555;
  margin: 5px 0;
}

/* Kontener na autora i polubienia */
.live-page-author-likes-container {
  display: flex;
  justify-content: space-between;  /* Rozdziela polubienie i autora na przeciwnych końcach */
  align-items: center;
  margin-top: auto;  /* Przenosi na dół kontenera */
  width: 100%;  /* Zapewnia pełną szerokość kontenera */
}

/* Informacje o autorze */
.live-page-author-info {
  display: flex;
  justify-content: flex-end;
  text-decoration: none; /* Usunięcie podkreślenia domyślnie */
}

.live-page-author-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.live-page-author-info span {
  font-size: 14px;
  color: #333;
}

/* Stylizacja linków (autor) */
.live-page-author-info:hover {
  text-decoration: underline;
}

/* Styl ikony polubienia */
.live-page-likes-container {
  display: flex;
  align-items: center;
}

.live-page-likes-container span {
  font-size: 22px;
  color: #888;
  margin-right: 10px;
}

/* Ikona polubienia */
.fa-thumbs-up {
  font-size: 22px;
  color: #ccc;  /* Kolor dla niepolubionych */
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Kolor ikony po polubieniu */
.fa-thumbs-up.liked {
  color: black; /* Kolor dla polubionych */
}

/* Kolor ikony, gdy nie jest polubione */
.fa-thumbs-up.not-liked {
  color: #ccc; /* Szary kolor dla niepolubionych */
}

/* Responsywne dla dużych ekranów */
@media (max-width: 1200px) {
  .live-page-video-container {
    max-width: 90%; /* Zmniejszamy maksymalną szerokość wideo */
  }

  .live-page-record-details p {
    font-size: 16px;
  }

  .live-page-likes-container span {
    font-size: 16px;
  }
}

/* Dla średnich ekranów */
@media (max-width: 1100px) {
  .live-page-record-container {
    flex-direction: column;
    padding: 10px;
  }

  .live-page-video-container {
    margin-bottom: 20px;
  }

  .live-page-record-details {
    margin-top: 20px;
  }

  .live-page-record-title {
    font-size: 26px;
  }

  .live-page-record-details p {
    font-size: 17px;
  }

  .live-page-likes-container span {
    font-size: 17px;
  }
}

/* Dla małych urządzeń mobilnych */
@media (max-width: 900px) {
  .live-page-record-title {
    font-size: 22px;
  }

  .live-page-record-details p {
    font-size: 15px;
  }

  .live-page-likes-container span {
    font-size: 15px;
  }
}

/* Dla urządzeń mobilnych */
@media (max-width: 600px) {
  .live-page-wrapper {
    padding: 10px;
  }

  .live-page-record-container {
    flex-direction: column;
  }

  .live-page-left-column {
    width: 100%;
  }

  .live-page-video-container {
    height: 250px;
  }

  .live-page-record-title {
    font-size: 20px;
  }

  .live-page-record-details p {
    font-size: 14px;
  }
} 