.navbar {
  background-color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
  box-sizing: border-box; 
}
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .navbar-links {
    display: flex;  
    gap: 15px;
  }

  .navbar-links a, .navbar-links span, .navbar-links button {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .navbar-links button:hover, .navbar-links a:hover, .navbar-links span:hover {
    color: #0073e6;
  }
  
  .navbar-links button {
    border: 1px solid #000000;
    border-radius: 4px;
  }
  
  .navbar-message-icon {
    vertical-align: middle;
    font-size: 20px;
    color: lightgray; 
  }
   
  .navbar-message-icon:hover {
    color: gray; 
  }

  .navbar-notifications-icon {
    vertical-align: middle;
    font-size: 23px;
    color: lightgray;
    cursor: pointer;
  }
  
  .navbar-notifications-icon:hover {
    color: gray;
  }