/* Wrapper główny */
.record-page-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Center vertically */
  margin-top: 40px;
  min-height: 100vh; /* Minimum height to fill the viewport */
  padding: 20px; /* Optional: Add some padding */
  background-color: #f9f9f9; /* Tło dla całego wrappera */
}
/* Główne kontenery */
.record-page-record-container {
  display: flex;
  margin: 20px;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  flex-wrap: wrap;
  position: relative; /* Dodane: umożliwia pozycjonowanie absolutne dla dzieci */
}

/* Kontener autora w prawym dolnym rogu */
.record-page-author-container {
  position: absolute; /* Dodane: umożliwia umieszczenie elementu w prawym dolnym rogu */
  bottom: 20px; /* Odstęp od dolnej krawędzi */
  right: 20px; /* Odstęp od prawej krawędzi */
  display: flex;
  align-items: center;
}

.record-page-author-info {
  display: flex;
  align-items: center;
  text-decoration: none; /* Usunięcie podkreślenia domyślnie */

}

.record-page-author-info img {
  width: 40px; /* Zwiększenie rozmiaru awatara */
  height: 40px;
  border-radius: 50%; /* Zaokrąglamy zdjęcie na kształt koła */
  margin-right: 10px; /* Odstęp między zdjęciem a nazwiskiem */
}

.record-page-author-info span {
  font-size: 18px;
  color: #333;
}

.record-page-author-info:hover {
  text-decoration: underline; 
}

/* Reszta stylów dla kontenerów */
.record-page-video-container {
  flex: 1;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.record-page-video-container video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 2px;
}

.record-page-record-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.record-page-record-title {
  margin-bottom: 10px;
  color: #333;
}

.record-page-record-details p {
  font-size: 18px;
  color: #555;
  margin: 5px 0;
}

.record-page-likes-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.record-page-likes-container span {
  font-size: 18px;
  color: #888;
  margin-right: 10px;
}

/* Media Queries (opcjonalne dla responsywności) */
@media (max-width: 1200px) {
  .record-page-record-title {
    font-size: 24px;
  }

  .record-page-record-details p {
    font-size: 16px;
  }

  .record-page-likes-container span {
    font-size: 16px;
  }

  .like-button {
    padding: 8px 12px;
  }

  .record-page-author-info span {
    font-size: 16px;
  }
}

@media (max-width: 1100px) {
  .record-page-record-container {
    flex-direction: column;
    padding: 10px;
  }

  .record-page-video-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .record-page-record-details {
    flex: 1;
    margin-top: 20px;
  }

  .record-page-record-title {
    font-size: 26px;
  }

  .record-page-record-details p {
    font-size: 17px;
  }

  .record-page-likes-container span {
    font-size: 17px;
  }

  .like-button {
    padding: 8px 14px;
  }

  .record-page-author-info span {
    font-size: 17px;
  }
}

@media (max-width: 900px) {
  .record-page-record-title {
    font-size: 22px;
  }

  .record-page-record-details p {
    font-size: 15px;
  }

  .record-page-likes-container span {
    font-size: 15px;
  }

  .like-button {
    padding: 7px 12px;
  }

  .record-page-author-info span {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .record-page-record-container {
    flex-direction: column;
    padding: 10px;
  }

  .record-page-video-container {
    margin-right: 0;
    margin-bottom: 20px;
    height: 400px;
  }

  .record-page-record-title {
    font-size: 18px;
  }

  .record-page-record-details p {
    font-size: 12px;
  }

  .record-page-likes-container span {
    font-size: 12px;
  }

  .like-button {
    padding: 4px 8px;
  }

  .record-page-author-info span {
    font-size: 12px;
  }
}
